<div class="content">
  <div class="card text-center">
    <div class="card-header">
      <%= @user.username %>のプロフィール
    </div>
    <div class="card-body">
      <p><%= @user.profile_text %></p>
      <% if @user.artist.present? %>
        <div class="followers">
          <p><strong id="followers"><%= @user.followers.count %></strong> フォロワー</p>
        </div>
      <% end %>
      <%= render 'follow_form' if @user != current_user && @user.is_artist && logged_in? %>
    </div>
  </div>
</div>
