@import "bootstrap";

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar .nav-link {
    color: #fff !important;
}

body {
    position: relative;
}

.gmap-container {
    position: relative;
    padding-top: 56.25%;
    /*16:9の比率にしたい場合、9/16=56.25%*/
}

.gmap-container .gmap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    padding-top: 50px;
}

.report-container {
    border: solid #eeeeee;
}

.live-box {
    border-bottom: solid #eeeeee;
    padding: 0px 10px;
}

.live-box p {
    margin: 0;
}

.live-box:hover{
    background-color: #fffacd;
}

.artist_name {
    font-weight: bold;
    font-size: large;
    color: #1e90ff;
}

// for debug information
.debug_dump {
    background-color: #000;
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 45px;
}

/* forms */

.sign-up-form input,
textarea {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 20px;
    @include box_sizing;
}

input {
    height: auto !important;
}

// error_messages
#error_explanation {
    color: red;

    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.flash-content {
    padding-top: 15px;
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
        margin-left: 10px;
        font-weight: bold;
    }
  }
  
#session_remember_me, #user_is_artist {
    width: auto;
    margin-left: 0;
}
